@media only screen and (min-width: 600px) {
    .widthChange {
      width: 50%;
      
    }
  }

.login{
    text-align: center;
    background-color: rgba(132, 94, 194, 0.2);
}

.reg{
    background-color: #845ec2;
    color: #ffffff;
}




.reg:hover{
    background-color: rgba(132, 94, 194, 0.7);
    
    color: #ffffff;
    
}

.prim{
    background-color: rgba(214,93,177,0.8);
    
    color: #ffffff;
}

.prim:hover{
    background-color: rgba(214,93,177,0.7);
    
    color: #ffffff;
}



