.register{
    text-align: center;
    background-color: rgba(132, 94, 194, 0.2);
    display: flex;
}

@media only screen and (min-width: 600px) {
    .card-register {
      width: 45%;
    }
    .register{
        text-align: center;
        background-color: rgba(132, 94, 194, 0.2);
        display: flex;
        height: 100%;
    }
  }

.title-register{
    font-size: 30px;
    color: rgba(132, 94, 194, 1);
    margin-bottom: 50px;
}

.label-register{
    /* font-weight: bold; */
}

.reg2{
    background-color: #ffffff;
    border-color: #845ec2;
    color: #845ec2;
}




.reg2:hover{
    background-color: rgba(132, 94, 194, 0.7);
    
    color: #ffffff;
    
}