.homepageMovil{
	width:100vw;
}
.createShipping {
	width:100%;
	height:100vh;
	margin-top:1vh;
}
.createRow{
	background-color:#FAF7FF;
 	width:100%;
	height:25vh;
	margin:auto;
	border: 7px solid #918EE6;
	border-radius: 10px;
}
.boxContainer{
	width:auto;
	height:100%;
	display:inline-block;
	vertical-align: middle;
}
.box {
	max-height:60%;	
	margin-top:5vh;	
}
.createText{
	width:100%;
	height:100%;
	display:inline;
	vertical-align: middle;
	text-align:left;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;	
	
}
.tituloEnviosPasados{
	min-height:8vh;


}
.textBanner{
	margin-top:5%;
	text-align: left;
	width: 37vw;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 4.4vh;
	line-height: 1.0;
	display: flex;
	align-items: center;
	color: #918EE6;
}
.textPastShippings{
	position: absolute;
	top: 2vh;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 3.5vh;
	line-height: 5vh;

	display: flex;
	align-items: center;
	margin-left:2vw;
	color: #918EE6;

}
.bottomMenu{
	background-color:#FAF7FF;
	width:100vw;
	height:12vh;
    	position: fixed;
    	bottom: 0;
	left:0;
	right:0;
	margin:auto;	
}
.bottomMenu col{
	background-color:black;
	border :0px;

}
.bottomMenu Button {	
	height:8vh;
	background-color: transparent;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;	
	

}


.bottomMenu Button :active {	
	display:none; 
 outline: none;
  box-shadow: none;
  background-color: white;
	border-style: outset;


}
.bottomMenu Button img{
	display:flex;
	position :absolute;	
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;	
}	
/*
@media screen and (min-width: 605px) {
   .homepageMovil { display: none }
}
@media screen and (max-width: 605px) {
   .Homecontainer { display: none }
}
*/
